apt-xapian-index==0.47
apturl==0.5.2
chardet==2.3.0
command-not-found==0.3
Cython==0.24.1
distro-info===0.14build1
language-selector==0.1
pexpect==4.2.0
Pillow==3.3.1
ptyprocess==0.5.1
pycups==1.9.73
pygobject==3.22.0
PyMySQL==0.7.6
python-apt==1.1.0b5
python-debian==0.1.29
PyYAML==3.11
reportlab==3.3.0
requests==2.10.0
six==1.10.0
systemd-python==232
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.15.1
xkit==0.0.0
