{% include 'head-property.html' %}
    {% include 'parallax-components.html' %}
                        <div class="section white">
                            <div class="row container">
                                <div class="col s12 push-l2">
                                    <div class="col s12 m6">
                                        <div class="card horizontal">
                                            <div class="card-image">
                                                <img src="{{ url_for('static', filename='images/web/parallax.jpg') }}">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <p>Oni chichi</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/">Download</a>
                                                    <a href="/">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="card horizontal">
                                            <div class="card-image">
                                                <img src="{{ url_for('static', filename='images/web/parallax.jpg') }}">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <p>Oni chichi</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/">Download</a>
                                                    <a href="/">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="card horizontal">
                                            <div class="card-image">
                                                <img src="{{ url_for('static', filename='images/web/parallax.jpg') }}">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <p>Oni chichi</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/">Download</a>
                                                    <a href="/">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="card horizontal">
                                            <div class="card-image">
                                                <img src="{{ url_for('static', filename='images/web/parallax.jpg') }}">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <p>Oni chichi</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/">Download</a>
                                                    <a href="/">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="card horizontal">
                                            <div class="card-image">
                                                <img src="{{ url_for('static', filename='images/web/parallax.jpg') }}">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <p>Oni chichi</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/">Download</a>
                                                    <a href="/">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="card horizontal">
                                            <div class="card-image">
                                                <img src="{{ url_for('static', filename='images/web/parallax.jpg') }}">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content">
                                                    <p>Oni chichi</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="/">Download</a>
                                                    <a href="/">Watch</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
{% include 'foot-property.html' %}