.z-indexwith-cus1{
    z-index: 2;
    padding: 25% 0;
}

input[type="text"] {
    padding: initial;
    color: white;
}

.input-field input[type=text]:focus {
    color: black;
}

cus-col:focus{
    color: #26c6da;
}

.no-bgcolor{
    background-color: initial;
}

.no-hover a:hover {
    background-color: initial;
}

padd-top{
    margin-top: 20%;
}

.side-nav ul {
    padding-top: 20%;
}

.parallax-container{
    width: 100%;
    height: 16rem;
}

.no-bottom{

}

.mypadding{
    padding-top: 0;
}