  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.white-text{
    padding: initial;
    color: white;
}

.input-field input[type=text]:focus {
    color: white;
}

nav .input-field input[type=text]{
    width: 200px;
}

cus-col:focus{
    color: #26c6da;
}

.no-bgcolor{
    background-color: initial;
}

.no-hover a:hover {
    background-color: initial;
}

padd-top{
    margin-top: 20%;
}

.marg-bt{
    margin-bottom: 28px;
}

.side-nav ul {
    padding-top: 20%;
}

.parallax-container{
    width: 100%;
    height: 25rem;
}

.mylayers{
    background-color: rgba(0, 0, 0, 0.45);
}

.text-mod{
    font-family: 'Bungee Inline', cursive;
    color: white;
    font-size: 600%;
}

.mypadding{
    padding-top: 0;
}

.push-top{
    padding-top: 15rem;
}

.black-text{
    color: black;
}

.offline{
    color: #000000;
}

.youtube{
    color: red;
    transition-duration: 0.3s;
}

.youtube:hover{
    color: white;
    transition-duration: 0.3s;
}
.gplus{
    color: #ff3d00;
    transition-duration: 0.3s;
}

.gplus:hover{
    color: white;
    transition-duration: 0.3s;
}

.skype{
    color: #0288d1;
    transition-duration: 0.3s;
}

.skype:hover{
    color: white;
    transition-duration: 0.3s;
}

.insta{
    color: #cd486b;
    transition-duration: 0.3s;
}

.insta:hover{
    color: white;
    transition-duration: 0.3s;
}

.twit{
    color: #4fc3f7;
    transition-duration: 0.3s;
}

.twit:hover{
    color: white;
    transition-duration: 0.3s;
}

.wassap{
    color: #00c853;
    transition-duration: 0.3s;
}

.wassap:hover{
    color: white;
    transition-duration: 0.3s;
}

.fb{
    transition-duration: 0.3s;
}

.fb:hover{
    color: white;
    transition-duration: 0.3s;
}

.online{
    color: #64dd17;
}

.custom-hover{
    color: #ffffff;
}

.custom-hover:hover{
    color: #000000;
    background-color: initial;
}

.custom-hover-power{
    color: #ffffff;
}

.toast-style{
    text-decoration: underline;
}

.custom-hover-power:hover{
    color: #d32f2f;
    background-color: initial;
}

.trans{
    transition-duration: 0.3s;
}
.trans:hover{
    transition-duration: 0.3s;
}

/* screen media queries */
@media (min-width: 1px) and (max-width: 992px) {
   .text-cent{
        text-align: center;
    }
}

@media (min-width: 1px) and (max-width: 992px) {
   .push-top{
        padding-top: 0px;
        text-align: center;
    }
}

@media only screen and (min-width: 993px) {
    .margin-left-form{
        margin-left: 150px;
    }
}

/*Scroll bar style*/
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.10);
    background-color: initial;
}

*::-webkit-scrollbar{
    width: 6px;
    background-color: initial;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
	background-color: rgba(0,0,0,0.3);
}