<!DOCTYPE html>
<html lang="en">
<head>
			<meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
			    {{ page }} | AManga
			</title>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'css/materialize.min.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'images/web/icon.png') }}" rel="shortcut icon">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col l6">
                <img src="{{ url_for('static', filename = 'images/web/notfound.png') }}" class="responsive-img">
            </div>
            <div class="col s12 l6">
                <h2 class="push-top center-align">
                    Page is not found desu wa
                </h2>
            </div>
        </div>
    </div>
</body>
</html>