<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
			    {{ page }} | AManga
			</title>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'css/materialize.min.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'images/web/icon.png') }}" rel="shortcut icon">
		</head>
		<body>
        <header>
            <nav class="green z-depth-2">
                <div class="nav-wrapper">
                    <div class="container">
                        <div class="row">
                            <a href="/" data-activates="sidemed" class="button-collapse"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li>
                                    <form method="get" action="/search">
                                        <div class="input-field">
                                            <input id="searh_anim" type="text" class="validate" name="s">
                                            <label for="searh_anim"><i class="material-icons">search</i></label>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="side-nav fixed green lighten-2 z-depth-4" id="sidemed">
                <div class=" no-hover">
                    <a href="/" class="center-align">
                        <img src="{{ url_for('static', filename='images/web/webicon.png') }}" class="responsive-img">
                    </a>
                </div>
                <div>
                    <ul class="center-align">
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li class="header left-align white"><div class="container">Menu</div></li>
                        <li><a href="/anime">Anime List</a></li>
                        <li><a href="/manga">Manga List</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Latest Manga Update</a></li>
                        <li><a href="#">Latest Anime Release</a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li class="hide-on-large-only">
                            <form method="get" action="/search">
                                <div class="input-field">
                                    <input id="search" type="search" placeholder="Search" name="s">
                                </div>
                            </form>
                        </li>
                        <li class="header left-align white"><div class="container">Team</div></li>
                        <li><a href="/">Admin</a></li>
                        <li><a href="/">Report</a></li>
                        <li><a href="/">Contact Us</a></li>
                        <li class="divider"></li>
                    </ul>
                </div>
            </div>
        </section>