<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
				AManga
			</title>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'css/materialize.min.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename = 'images/web/icon.png') }}" rel="shortcut icon">
		</head>
		<body>
        <header>
            <nav class="grey darken-3 z-depth-2">
                <div class="nav-wrapper">
                    <div class="container">
                        <div class="row">
                            <a href="#" data-activates="sidemed" class="button-collapse"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li>
                                    <form>
                                        <div class="input-field">
                                            <input id="searh_anim" type="text" class="validate">
                                            <label for="searh_anim"><i class="material-icons">search</i></label>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="side-nav fixed grey darken-2 z-depth-3" id="sidemed">
                <div class=" no-hover">
                    <a href="/" class="center-align">
                        <img src="{{ url_for('static', filename='images/web/webicon.png') }}" class="responsive-img">
                    </a>
                </div>
                <div>
                    <ul class="center-align">
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li class="header left-align white"><div class="container">Main Menu</div></li>
                        <li><a href="#">Anime List</a></li>
                        <li><a href="#">Manga List</a></li>
                        <li><a href="#">Latest Manga Update</a></li>
                        <li><a href="#">Latest Anime Update</a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li class="hide-on-large-only">
                            <form>
                                <div class="input-field">
                                    <input id="search" type="search" placeholder="Search">
                                </div>
                            </form>
                        </li>
                        <li class="divider hide-on-large-only"></li>
                        <li class="header left-align white"><div class="container">Collaboration With</div></li>
                        <li>
                            <div class="row">
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="chip">
                                        <img src="{{ url_for('static', filename='images/web/icon.png') }}" alt="Contact Person">
                                        Jane Doe
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="header left-align white"><div class="container">Powered By</div></li>
                        <li>
                            <div class="col s6">
                                <div class="chip">
                                    <img src="http://materializecss.com/images/favicon/apple-touch-icon-152x152.png" alt="Contact Person">
                                    Materialize
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="chip">
                                    <img src="{{ url_for('static', filename = 'images/web/powered.png') }}" alt="Contact Person">
                                    Python3.5
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="chip">
                                    <img src="{{ url_for('static', filename = 'images/web/powered2.png') }}" alt="Contact Person">
                                    Flask 0.11.11
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>